<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.mapper.ResultMapper">

    <select id="getUserResult" resultType="com.example.backend.model.Result" parameterType="map">
        SELECT * FROM result
            WHERE inspection_idx = #{inspection_idx}
            AND question_page IN
            <foreach collection="pages" item="page" index="i" open="(" close=")" separator=",">
                #{page}
            </foreach>
    </select>

</mapper>
