<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.api.user.UserMapper">

    <resultMap id="userMap" type="com.example.backend.api.user.User">
        <id property="userIdx" column="user_idx"></id>
        <id property="groupIdx" column="group_idx"></id>
    </resultMap>

    <resultMap id="groupMap" type="com.example.backend.api.group.Group">
        <id property="idx" column="idx"></id>
        <id property="name" column="name"></id>
    </resultMap>
    <resultMap id="userCombinedGroupMap" type="com.example.backend.api.user.UserDetail">
        <collection property="user" resultMap="userMap"/>
        <collection property="group" resultMap="groupMap"/>
    </resultMap>

    <select id="getUsers" parameterType="int" resultType="com.example.backend.api.user.User">
        SELECT * FROM user WHERE inspection_idx = #{inspection_idx};
    </select>
    <select id="getUserDetail" resultType="com.example.backend.api.user.UserDetail">
        SELECT  * FROM
        user u
            LEFT OUTER JOIN
        `group` g
            ON u.group_idx = g.idx
        WHERE user_idx = #{userIdx};
    </select>

    <select id="getUserAnswers" resultMap="userCombinedGroupMap">
        SELECT * FROM user_answer WHERE user_idx = #{userIdx} ORDER BY question_idx;
    </select>

    <insert id="insertUserInfo" parameterType="com.example.backend.api.result.UserResult" useGeneratedKeys="true">
        INSERT INTO
            user(inspection_idx, group_idx, user_name, user_age, user_gender,user_grade, user_etc, cdate)
            VALUES (#{inspection_idx}, #{user_info.group_idx},#{user_info.user_name}, #{user_info.user_age}, #{user_info.user_gender}, #{user_info.user_grade}, #{user_info.user_etc}, now());
        <selectKey keyProperty="user_idx" resultType="int" order="AFTER">
            select LAST_INSERT_ID();
        </selectKey>
    </insert>
    <insert id="insertUserAnswers" parameterType="int">
            INSERT INTO user_answer(user_idx, question_idx, answer_idx) VALUES (#{user_idx}, #{question_idx}, #{answer_idx} )
    </insert>



</mapper>
