/* NanumSquare */
/* @font-face { 
  font-family: 'NanumSquare'; 
  font-weight: 300; 
  src:
      url('../fonts/NanumSquareL.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NanumSquareL.otf') format('opentype'),
      url('../fonts/NanumSquareL.woff') format('woff'),
      url('../fonts/NanumSquareL.woff2') format('woff2'),
      url('../fonts/NanumSquareL.ttf') format('truetype'),
      url('../fonts/NanumSquareL.svg#NanumSquareL') format('svg');
}
@font-face { 
  font-family: 'NanumSquare'; 
  font-weight: 400; 
  src:
      url('../fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NanumSquareR.otf') format('opentype'),
      url('../fonts/NanumSquareR.woff') format('woff'),
      url('../fonts/NanumSquareR.woff2') format('woff2'),
      url('../fonts/NanumSquareR.ttf') format('truetype'),
      url('../fonts/NanumSquareR.svg#NanumSquareR') format('svg');
}
@font-face { 
  font-family: 'NanumSquare'; 
  font-weight: 700; 
  src:
      url('../fonts/NanumSquareB.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NanumSquareB.otf') format('opentype'),
      url('../fonts/NanumSquareB.woff') format('woff'),
      url('../fonts/NanumSquareB.woff2') format('woff2'),
      url('../fonts/NanumSquareB.ttf') format('truetype'),
      url('../fonts/NanumSquareB.svg#NanumSquareB') format('svg');
}
@font-face { 
  font-family: 'NanumSquare'; 
  font-weight: 900; 
  src:
      url('../fonts/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NanumSquareEB.otf') format('opentype'),
      url('../fonts/NanumSquareEB.woff') format('woff'),
      url('../fonts/NanumSquareEB.woff2') format('woff2'),
      url('../fonts/NanumSquareEB.ttf') format('truetype'),
      url('../fonts/NanumSquareEB.svg#NanumSquareEB') format('svg');
}
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'NanumSquare'; 
  color: #1C1C1C;
  font-size: 16px;
  position: relative;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
/* @media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */
