#skip-nav {height:0}
#skip-nav a {display: block; position: absolute; left: 0; top: -100px; width: 100%; height: 1px; text-align: center}
#skip-nav a:focus, #skip a:active {position: absolute; top: 0; z-index: 120; height: 25px; padding: 10px 0; font-size: 1.4em; font-weight: 700; color: #36348f; background: #fff;}

.contents{ background: url('../img/bg.png') no-repeat center top; background-size: cover; min-height: 100vh; position: relative; overflow: hidden; }
.container{ width: 100%; max-width: 1680px; margin: 0 auto; position: relative; padding: 0 20px; }
.logo{ position: absolute; top: 59px; left: 20px; }
.logo a{ display: block; text-indent: -99999px; width: 200px; height: 38px; background: url('../img/logo.png') no-repeat center; background-size: 100%; }
.grass-pattern{ position: absolute; bottom: 0; width: 100%; height: 201px; left: 0; background: url('../img/bg_patter_grass.png') repeat-x left top; z-index: 1; }

.mascot{ position: absolute; z-index: 1; }

.btn{ border: 0; display: flex; align-items: center; justify-content: center; text-align: center; font-weight: 800; text-align: center; }

.btn.sm{ height: 50px; line-height: 50px; border-radius: 25px; min-width: 180px; font-size: 14px; padding: 0 18px; }
.btn.md{ height: 60px; line-height: 60px; border-radius: 30px; min-width: 240px; font-size: 24px; }
.btn.lg{ height: 63px; line-height: 63px; border-radius: 32px; min-width: 300px; }

.btn.blue-gra{
    background: #1ac1ff;
    background: -moz-linear-gradient(top,  #1ac1ff 0%, #1e70b5 100%);
    background: -webkit-linear-gradient(top,  #1ac1ff 0%,#1e70b5 100%);
    background: linear-gradient(to bottom,  #1ac1ff 0%,#1e70b5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ac1ff', endColorstr='#1e70b5',GradientType=0 );
    color: #ffffff;
}
.btn.white_gra{
    background: #ededed;
    background: -moz-linear-gradient(top,  #ededed 0%, #b7b7b7 100%);
    background: -webkit-linear-gradient(top,  #ededed 0%,#b7b7b7 100%);
    background: linear-gradient(to bottom,  #ededed 0%,#b7b7b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#b7b7b7',GradientType=0 );
    color: #1c1c1c;
}
.btn.white{ background: #ffffff; }
.btn.blue{ background: #1782FF; color: #ffffff; }
.btn.green{ background: #418B89; color: #ffffff; }

.crl-litegreen{ color: #2DB41E; }
.crl-blue{ color: #3A5CA9; }

.btn i{ margin-right: 12px; }

.exam-wrap{ position: relative; max-width: 1197px; width: 100%; padding-top: 143px; margin: 0 auto; padding-bottom: 170px }
.exam-wrap .exam-head,
.exam-wrap .exam-foot{ position: relative; width: 100%; }
.exam-wrap .exam-head::before,
.exam-wrap .exam-head::after{ content: ""; width: 39px; height: 37px; background: url('../img/img_board_head.png') no-repeat center; background-size: 100%; position: absolute; top: 0; transform: translateY(-100%) }
.exam-wrap .exam-head::before{ left: 34px; }
.exam-wrap .exam-head::after{ right: 34px; }
.exam-wrap .exam-foot::before,
.exam-wrap .exam-foot::after{ content: ""; width: 39px; height: 87px; background: url('../img/img_board_foot.png') no-repeat center; background-size: 100%; position: absolute; bottom: 0; transform: translateY(100%); }
.exam-wrap .exam-foot::before{ left: 30px; }
.exam-wrap .exam-foot::after{ right: 30px; }
.exam-wrap .mascot{ right: -270px; bottom: 40px; }
.exam-wrap > .btn-wrap{ display: flex; justify-content: center; align-items: center; transform: translateY(40px); position: relative; z-index: 2; flex-wrap: wrap; }
.exam-wrap > .btn-wrap .btn + .btn{ margin-left: 16px; }
.board{ position: relative; padding: 62px 98px 63px; background: #153039; -webkit-box-shadow: inset 20px 20px 40px 25px rgba(0,0,0,0.7); box-shadow: inset 20px 20px 40px 25px rgba(0,0,0,0.7); }
.board [class^='board-frame']{ position: absolute; }
.board .board-frame01{ width: 100%; top: 0; left: 0; height: 29px; background: url('../img/bg_pattern_board_top.png') repeat-x center; background-size: auto 100%; z-index: 1; }
.board .board-frame01::before,
.board .board-frame01::after{ content: ""; position: absolute; top: 0; }
#skip-nav {height:0}
#skip-nav a {display: block; position: absolute; left: 0; top: -100px; width: 100%; height: 1px; text-align: center}
#skip-nav a:focus, #skip a:active {position: absolute; top: 0; z-index: 120; height: 25px; padding: 10px 0; font-size: 1.4em; font-weight: 700; color: #36348f; background: #fff;}

.contents{ background: url('../img/bg.png') no-repeat center top; background-size: cover; min-height: 100vh; position: relative; overflow: hidden; }
.container{ width: 100%; max-width: 1680px; margin: 0 auto; position: relative; padding: 0 20px; }
.logo{ position: absolute; top: 59px; left: 20px; }
.logo a{ display: block; text-indent: -99999px; width: 200px; height: 38px; background: url('../img/logo.png') no-repeat center; background-size: 100%; }
.grass-pattern{ position: absolute; bottom: 0; width: 100%; height: 201px; left: 0; background: url('../img/bg_patter_grass.png') repeat-x left top; z-index: 1; }

.mascot{ position: absolute; z-index: 1; }

.btn{ border: 0; display: flex; align-items: center; justify-content: center; text-align: center; font-weight: 800; text-align: center; }

.btn.sm{ height: 50px; line-height: 50px; border-radius: 25px; min-width: 180px; font-size: 14px; padding: 0 18px; }
.btn.md{ height: 60px; line-height: 60px; border-radius: 30px; min-width: 240px; font-size: 24px; }
.btn.lg{ height: 63px; line-height: 63px; border-radius: 32px; min-width: 300px; }

.btn.blue-gra{
    background: #1ac1ff;
    background: -moz-linear-gradient(top,  #1ac1ff 0%, #1e70b5 100%);
    background: -webkit-linear-gradient(top,  #1ac1ff 0%,#1e70b5 100%);
    background: linear-gradient(to bottom,  #1ac1ff 0%,#1e70b5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ac1ff', endColorstr='#1e70b5',GradientType=0 );
    color: #ffffff;
}
.btn.white_gra{
    background: #ededed;
    background: -moz-linear-gradient(top,  #ededed 0%, #b7b7b7 100%);
    background: -webkit-linear-gradient(top,  #ededed 0%,#b7b7b7 100%);
    background: linear-gradient(to bottom,  #ededed 0%,#b7b7b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#b7b7b7',GradientType=0 );
    color: #1c1c1c;
}
.btn.white{ background: #ffffff; }
.btn.blue{ background: #1782FF; color: #ffffff; }
.btn.green{ background: #418B89; color: #ffffff; }

.crl-litegreen{ color: #2DB41E; }
.crl-blue{ color: #3A5CA9; }

.btn i{ margin-right: 12px; }

.exam-wrap{ position: relative; max-width: 1197px; width: 100%; padding-top: 143px; margin: 0 auto; padding-bottom: 170px }
.exam-wrap .exam-head,
.exam-wrap .exam-foot{ position: relative; width: 100%; }
.exam-wrap .exam-head::before,
.exam-wrap .exam-head::after{ content: ""; width: 39px; height: 37px; background: url('../img/img_board_head.png') no-repeat center; background-size: 100%; position: absolute; top: 0; transform: translateY(-100%) }
.exam-wrap .exam-head::before{ left: 34px; }
.exam-wrap .exam-head::after{ right: 34px; }
.exam-wrap .exam-foot::before,
.exam-wrap .exam-foot::after{ content: ""; width: 39px; height: 87px; background: url('../img/img_board_foot.png') no-repeat center; background-size: 100%; position: absolute; bottom: 0; transform: translateY(100%); }
.exam-wrap .exam-foot::before{ left: 30px; }
.exam-wrap .exam-foot::after{ right: 30px; }
.exam-wrap .mascot{ right: -270px; bottom: 40px; }
.exam-wrap > .btn-wrap{ display: flex; justify-content: center; align-items: center; transform: translateY(40px); position: relative; z-index: 2; flex-wrap: wrap; }
.exam-wrap > .btn-wrap .btn + .btn{ margin-left: 16px; }
.board{ position: relative; padding: 62px 98px 63px; background: #153039; -webkit-box-shadow: inset 20px 20px 40px 25px rgba(0,0,0,0.7); box-shadow: inset 20px 20px 40px 25px rgba(0,0,0,0.7); }
.board [class^='board-frame']{ position: absolute; }
.board .board-frame01{ width: 100%; top: 0; left: 0; height: 29px; background: url('../img/bg_pattern_board_top.png') repeat-x center; background-size: auto 100%; z-index: 1; }
.board .board-frame01::before,
.board .board-frame01::after{ content: ""; position: absolute; top: 0; }
.board .board-frame01::before{ width: 32px; height: 30px; left: 0; background: url('../img/img_board_top_left.png') no-repeat center; background-size: 100%; }
.board .board-frame01::after{ width: 32px; height: 29px; right: 0; background: url('../img/img_board_top_right.png') no-repeat center; background-size: 100%; }
.board .board-frame02{ width: 32px; top: 0; left: 0; height: 100%; background: url('../img/bg_pattern_board_left.png') repeat-y center; background-size: 100% auto; }
.board .board-frame03{ width: 31px; top: 0; right: 0; height: 100%; background: url('../img/bg_pattern_board_right.png') repeat-y center; background-size: 100% auto; }
.board .board-frame04{ width: 100%; bottom: 0; left: 0; height: 35px; background: url('../img/bg_pattern_board_bottom.png') repeat-x center; background-size: auto 100%; z-index: 1; }
.board .board-frame04::before,
.board .board-frame04::after{ content: ""; position: absolute; bottom: 0; }
.board .board-frame04::before{ width: 32px; height: 35px; left: 0; background: url('../img/img_board_bottom_left.png') no-repeat center; background-size: 100%; }
.board .board-frame04::after{ width: 30px; height: 35px; right: 0; background: url('../img/img_board_bottom_right.png') no-repeat center; background-size: 100%; }
.board .txt-guide{ font-weight: 700; color: #ffffff; font-size: 15px; text-align: center; margin-bottom: 30px; }
.board .txt-guide strong{ font-size: 18px; font-weight: 700; color: #FFF500; }
.board ul.exam-list li{ color: #ffffff; background: url('../img/bg_pattern_line.png') no-repeat center bottom; padding-bottom: 7px; }
.board ul.exam-list li + li{ margin-top: 25px; }
.board ul.exam-list li .txt-question{ display: flex; align-items: flex-start; margin-bottom: 14px; }
.board ul.exam-list li .txt-question span{ line-height: 30px; height: 30px; width: 30px;border-radius: 6px; text-align: center; color: #000000; font-weight: 700; margin-right: 12px;
    background: #fff60a;
    background: -moz-linear-gradient(-45deg,  #fff60a 0%, #ffb203 100%);
    background: -webkit-linear-gradient(-45deg,  #fff60a 0%,#ffb203 100%);
    background: linear-gradient(135deg,  #fff60a 0%,#ffb203 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff60a', endColorstr='#ffb203',GradientType=1 );
}
.board ul.exam-list li .txt-question p{ font-weight: 700; font-size: 21px; flex: 1 0; }
.board ul.exam-list li .radio-wrap{ display: flex; align-items: center; flex-wrap: wrap; margin: 0 -20px; padding: 0 40px; }
.board ul.exam-list li .radio-wrap label{ margin: 0 20px 10px; font-weight: 700; display: flex; }
.board ul.exam-list li .radio-wrap label input[type='radio']{ display: none; }
.board ul.exam-list li .radio-wrap label input[type='radio'] + span{ min-width: 48px; padding-left: 27px; background: url('../img/radio.png') no-repeat left center; }
.board ul.exam-list li .radio-wrap label input[type='radio']:checked + span{ background: url('../img/raido_check.png') no-repeat left center; }
.board .btn-next{ margin: 30px auto 0; }
.board .user-result{ display: flex; flex-wrap: wrap; align-items: flex-start; }
.board .user-result .img-wrap{ flex: none; width: 300px; height: 280px; display: flex; align-items: center; justify-content: center; }
.board .user-result .txt-wrap{ padding-left: 20px; flex: 1 0; }
.board .user-result .txt-wrap .tit{ padding-bottom: 27px; background: url('../img/bg_pattern_line02.png') no-repeat left bottom; font-size: 30px; font-weight: 700; color: #ffffff; margin-bottom: 14px; }
.board .user-result .txt-wrap .tit strong{ font-size: 60px; font-weight: 700; color: #FFF500; line-height: 1.3 }
.board .user-result .txt-wrap ul li{ padding-left: 27px; font-weight: 700; background: url('../img/ico_check.png') no-repeat left 3px; color: #ffffff; line-height: 2; }
.board .relation-result{ display: flex; justify-content: center; margin-top: 25px; flex-wrap: wrap; }
.board .relation-result > *{ flex: 1 0; display: flex; }
.board .relation-result .inner{ text-align: center; }
.board .relation-result .inner .txt-type{ font-weight: 700; color: #ffffff; text-align: center; line-height: 30px; height: 30px; border-radius: 15px; display: inline-block; padding: 0 28px; }
.board .relation-result .inner .txt-ex{ margin-top: 5px; color: #ffffff; font-weight: 700; margin-bottom: 10px; }
.board .relation-result .inner .txt-ex strong{ font-size: 20px; color: #FFF500; }
.board .relation-result .inner .img-wrap{ width: 180px; height: 140px; margin: 0 auto; display: flex; justify-content: center; align-items: center; }
.board .relation-result .good-type{ justify-content: flex-end; }
.board .relation-result .good-type .inner{ padding-left: 106px; background: url('../img/bg_type_good.png') no-repeat left 77px; }
.board .relation-result .good-type .inner .txt-type{ background: #7FCC15 }
.board .relation-result .bad-type{ justify-content: flex-start; margin-left: 66px; }
.board .relation-result .bad-type .inner{ padding-right: 101px; background: url('../img/bg_type_bad.png') no-repeat right 77px; }
.board .relation-result .bad-type .inner .txt-type{ background: #CC4615 }
.board .share-btn-wrap{ margin-top: 45px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }
.board .share-btn-wrap .btn + .btn{ margin-left: 7px; }

/* contents */
.main{ max-width: 500px; width: 100%; margin: 0 auto; padding-top: 136px; text-align: center; position: relative; padding-bottom: 242px; }
.main h2{ font-weight: 800; font-size: 41px; color: #427C12; text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); }
.main h2 strong{ font-size: 72px; font-weight: 800; }
.main .headline{ width: 100%; max-width: 501px; margin: 0 auto; background: url('../img/tit_board.png') no-repeat center; padding-top: 100px; padding-bottom: 180px; }
.main .headline img{ display: inline-block; vertical-align: -13px; }
.main .headline h3{ color: #ffffff; font-size: 24px; font-weight: 700; line-height: 1.7; }
.main .headline h3 span{ font-size: 36px; color: #FFF500; }
.main .headline h3 strong{ font-weight: 800; }
.main .btn{ margin: 0 auto; }
.main p{ font-size: 12px; line-height: 1.7; margin-top: 19px; text-align: center; font-weight: 700; }
.main .mascot{ bottom: 0; right: 0; transform: translate(78%, 29%); }

/* 로딩 */
.loading-wrap{ position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; }
.loading-wrap .loading{ position: relative; margin-bottom: 25px; }
.loading-wrap .loading img{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.loading-wrap .loading .bar { margin: 0 auto; height: 165px; width: 165px; border: 10px solid #ffffff; border-right-color: #418B89; border-radius: 50%; animation: spin 800ms infinite linear; }
.loading-wrap .txt{ text-align: center; color: #575D3E; font-size: 28px; line-height: 1.45; }
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

@media all and (max-width: 1680px) {
    .exam-wrap .mascot{ display: none; }
}

@media all and (max-width: 1240px) {
    .logo{ top: 60px; left: 50%; transform: translateX(-50%); }

    .board{ padding: 62px 65px 63px; }
    .board .user-result .img-wrap{ width: 100%; margin-bottom: 12px; }
    .board .user-result .txt-wrap{ padding-left: 0; }
    .board .user-result .txt-wrap .tit{ text-align: center; background-position: center bottom; }
    .board .user-result .txt-wrap .tit strong{ display: block; }
    .board .relation-result > *{ width: 100%; flex: none; }
    .board .relation-result .good-type,
    .board .relation-result .bad-type{ justify-content: center; }
    .board .relation-result .good-type .inner{ padding-left: 0; padding-right: 106px; background: url('../img/bg_type_good.png') no-repeat right 77px; }
    .board .relation-result .bad-type{ margin-left: 0; margin-top: 32px; }
    .board .share-btn-wrap{ margin-top: 35px; }
    .board .share-btn-wrap .btn{ width: calc(50% - 5px); margin-top: 10px; min-width: 0; }
    .board .share-btn-wrap .btn:nth-child(2n + 1){ margin-left: 0; }
    .board .share-btn-wrap .btn:last-child{ max-width: 496px; width: 100%; }
}

@media all and (max-width: 640px) {
    .container{ padding: 0; }
    .btn.md{ font-size: 20px; }
    .btn.sm{ padding: 0 9px; }
    .grass-pattern{ height: 43px; background-size: auto 100%; }

    .exam-wrap{ padding-bottom: 28px; }
    .exam-wrap .exam-head::before, 
    .exam-wrap .exam-head::after{ width: 24px; height: 23px; }
    .exam-wrap .exam-head::before{ left: 20px; }
    .exam-wrap .exam-head::after{ right: 20px; }
    .exam-wrap .exam-foot::before, 
    .exam-wrap .exam-foot::after{ width: 26px; height: 55px; }
    .exam-wrap .exam-foot::before{ left: 20px; }
    .exam-wrap .exam-foot::after{ right: 20px; }
    .board{ -webkit-box-shadow: inset 10px 10px 20px 13px rgba(0,0,0,0.7); box-shadow: inset 10px 10px 20px 13px rgba(0,0,0,0.7); padding: 67px 48px 63px; }
    .board .user-result .img-wrap{ height: 224px; }
    .board .user-result .img-wrap img{ max-height: 100%; }
    .board .user-result .txt-wrap .tit{ font-size: 20px; }
    .board .user-result .txt-wrap .tit strong{ font-size: 40px; }
    .board .relation-result{ margin-top: 54px; }
    .board .relation-result .inner{ padding-top: 75px; position: relative; }
    .board .relation-result .inner .txt-type,
    .board .relation-result .inner .txt-ex{ position: absolute; left: 50%; transform: translateX(-50%); }
    .board .relation-result .inner .txt-type{ top: 0; }
    .board .relation-result .inner .txt-ex{ width: 100%; top: 35px; }
    .board .board-frame01{ height: 19px; }
    .board .board-frame01::before{ width: 21px; height: 20px; }
    .board .board-frame01::after{ width: 20px; height: 19px; }
    .board .board-frame02{ width: 21px; }
    .board .board-frame03{ width: 19px; }
    .board .board-frame04{ height: 23px; }
    .board .board-frame04::before{ width: 21px; height: 24px; }
    .board .board-frame04::after{ width: 20px; height: 22px; }
    .board ul.exam-list li .txt-question p{ font-size: 16px; }
    .board ul.exam-list li .radio-wrap{ margin: 0 -8px; padding: 0 0; }
    .board ul.exam-list li .radio-wrap label{ margin: 0 8px 10px; width: calc(20% - 16px); }
    .board ul.exam-list li .radio-wrap label input[type='radio'] + span{ font-size: 14px; padding-left: 24px; min-width: 0; }
    .board .share-btn-wrap{ margin-left: -25px; margin-right: -28px; }
    .board .share-btn-wrap .btn i{ margin-right: 4px; }
    .exam-wrap > .btn-wrap{ padding-bottom: 90px; transform: translateY(70px); }
    .exam-wrap > .btn-wrap .btn + .btn{ margin-left: 0; margin-top: 16px; }

    .main{ padding-top: 124px; padding-bottom: 150px; }
    .main h2{ font-size: 27px; }
    .main h2 strong{ font-size: 49px; }
    .main .headline{ max-width: 356px; background-size: 100%; padding-top: 70px; padding-bottom: 132px; }
    .main .headline h3{ font-size: 16px; }
    .main .headline h3 span{ font-size: 24px; }
    .main .headline img{ width: 36px; }
    .main .mascot{ width: 87px; transform: translate(0, 0); bottom: 10; right: 25px; }

    /* 로딩 */
    .loading-wrap .txt{ font-size: 20px; }
}

.invalid-feedback-custom {
    color: #ff9a9a;
}